# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/local.properties
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/raw/
ios/build/
ios/Pods/
ios/*.xcworkspace
*.apk
*.aab
*.ipa

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.keystore
!debug.keystore
google-services.json
GoogleService-Info.plist

# Env
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.swp
*~

# Test
coverage/
junit.xml
